.navbar{
    height: 80px;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        .left{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .center{
            display: flex;
            align-items: center;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;
        }
    }
}